.app {
  font-family: Arial, sans-serif;
  text-align: center;
  /* padding: 20px; */
  background-color: #f9f9f9;
  /* height: 100vh; */
  /* min-height: 100vh; */
  overflow: hidden;
}

.main-content {
  /* margin: 0 auto;
  max-width: 800px;
  padding: 20px; */
}

a{
  text-decoration: none;
  
}